/* Tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* End of Tailwind css */

/* Variables */
:root {
  --primary-color: #5975c6;
  --primary-variant-color: #bbc4e9;
  --secondary-color: #a49ce9;
  --disabled-color: #d6daec;
  --disabled-variant-color: #b8c1d4;
}
/* End of Variables */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
